@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('BPGNinoMtavruli.eot');
    src: url('BPGNinoMtavruli.eot?#iefix') format('embedded-opentype'),
        url('BPGNinoMtavruli.woff2') format('woff2'),
        url('BPGNinoMtavruli.woff') format('woff'),
        url('BPGNinoMtavruli.ttf') format('truetype'),
        url('BPGNinoMtavruli.svg#BPGNinoMtavruli') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Nino Mtavruli Bold';
    src: url('BPGNinoMtavruli-Bold.eot');
    src: url('BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),
        url('BPGNinoMtavruli-Bold.woff2') format('woff2'),
        url('BPGNinoMtavruli-Bold.woff') format('woff'),
        url('BPGNinoMtavruli-Bold.ttf') format('truetype'),
        url('BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Arial';
    src: url('BPGArial.eot');
    src: url('BPGArial.eot?#iefix') format('embedded-opentype'),
        url('BPGArial.woff2') format('woff2'),
        url('BPGArial.woff') format('woff'),
        url('BPGArial.ttf') format('truetype'),
        url('BPGArial.svg#BPGArial') format('svg');
    font-weight: normal;
    font-style: normal;
}