@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('../fonts/BPGNinoMtavruli.eot');
  src: url('../fonts/BPGNinoMtavruli.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPGNinoMtavruli.woff2') format('woff2'),
      url('../fonts/BPGNinoMtavruli.woff') format('woff'),
      url('../fonts/BPGNinoMtavruli.ttf') format('truetype'),
      url('../fonts/BPGNinoMtavruli.svg#BPGNinoMtavruli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url('../fonts/BPGNinoMtavruli-Bold.eot');
  src: url('../fonts/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPGNinoMtavruli-Bold.woff2') format('woff2'),
      url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff'),
      url('../fonts/BPGNinoMtavruli-Bold.ttf') format('truetype'),
      url('../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BPG Arial';
  src: url('../fonts/BPGArial.eot');
  src: url('../fonts/BPGArial.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPGArial.woff2') format('woff2'),
      url('../fonts/BPGArial.woff') format('woff'),
      url('../fonts/BPGArial.ttf') format('truetype'),
      url('../fonts/BPGArial.svg#BPGArial') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
	height:100%;
}

body{
	margin:0;
	@include fontFamily('lower', normal);
  font-size: 16px;
  background: $background-basic;
}

input, textarea, button{
  @include fontFamily('lower', normal);
	outline:none;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}

*{
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;
}