@import "../variables/variables";

.bg-white {
  background: $white;
}

.container-bg{
  background: linear-gradient(180deg, $basic-blue 60vh, transparent 60vh);
}

.section {
  width: 90%;
  margin: 0 auto;
  padding: 6vh 0;

  &.section-md{
    width: 80%;
    padding: 0;
  }

  &.section-pv{
    padding: 4vh 0;
  }
}

.section-header{
  margin: 0 0 4vh;
}

.section-title {
  @include fontFamily("upper", bold);
  color: $font-sec;

  &.blue {
    color: $basic-blue;
  }
}
