.btns {
  display: flex; }

.btn {
  outline: none;
  cursor: pointer;
  height: 2.8rem;
  border-radius: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.5rem 0;
  font-size: 0.875rem;
  font-family: "BPG Nino Mtavruli";
  text-transform: uppercase;
  transition: 0.2s; }
  .btn.btn-form {
    border-radius: 6px;
    border: none;
    width: 100%; }
  .btn.btn-high {
    height: 3.125rem; }
  .btn.btn-transparent {
    color: #95989a;
    border: 2px solid #d6e7fa; }
    .btn.btn-transparent:hover, .btn.btn-transparent.active {
      background: #3c8eff;
      border: 2px solid #3c8eff;
      color: #ffffff; }
  .btn.btn-light {
    background: #d6e7fa;
    color: #686868; }
  .btn.btn-blue {
    background: #3c8eff;
    color: #ffffff; }
  .btn.btn-yellow {
    background: #feec7f;
    color: #000000; }
  .btn + .btn {
    margin-left: 0.7rem; }
