.input-out + .input-out {
  margin-top: 1rem; }

.input {
  border-radius: 6px;
  border: 1px solid rgba(149, 152, 154, 0.25);
  padding: 0 1.5rem;
  font-size: 0.875rem;
  font-family: "BPG Arial";
  height: 3.125rem;
  width: 100%; }

::-webkit-input-placeholder {
  color: #95989a; }

::-moz-placeholder {
  color: #95989a; }

:-ms-input-placeholder {
  color: #95989a; }

:-moz-placeholder {
  color: #95989a; }
