.modal-overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }

.modal {
  width: 50%;
  max-width: 400px;
  background: #ffffff;
  outline: none;
  padding: 5vh 4%;
  border-radius: 6px; }

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.modal-close {
  background: #3c8eff;
  cursor: pointer; }
