.sliders_wrapper {
  position: relative; }

.section-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.slider_main {
  height: calc(100vh - 120px - 100px); }
  .slider_main .slide {
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5%; }
  .slider_main .slide_info {
    color: #ffffff;
    width: 60%;
    max-width: 860px;
    position: relative;
    z-index: 1; }
  .slider_main .slide_title {
    font-size: 2.8em;
    font-family: "BPG Nino Mtavruli";
    margin: 0 0 2vh; }
  .slider_main .slide_text {
    line-height: 1.5em; }

.slider_secondary {
  width: 24%; }

.slider_dots {
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  left: 5%;
  display: flex;
  align-items: center; }
  .slider_dots .slider_dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    transform-origin: 50% 50%;
    transition: 0.2s; }
    .slider_dots .slider_dot.slider_dot-active {
      background: #3c8eff;
      transform: scale(1.5); }
    .slider_dots .slider_dot:not(:last-child) {
      margin-right: 12px; }

.sticky {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: #fff; }

.style_block {
  padding: 6vh 5% 15vh;
  position: relative; }

.block_title {
  font-family: "BPG Nino Mtavruli Bold";
  margin: 0 0 5vh; }

.vip_block_title {
  color: #3c8eff; }

.vip_slider .person_position {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #3c8eff;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #ffffff;
  padding: 1em 0 0.7em;
  width: 60%;
  text-align: center;
  font-size: 0.9em;
  font-family: "BPG Nino Mtavruli"; }

.person_info_style {
  font-size: 0.9em;
  color: #95989a;
  margin: 0 0 1em; }

.cat_style {
  color: #3c8eff;
  font-family: "BPG Nino Mtavruli Bold";
  position: relative;
  top: 1px; }

.pagination_style {
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%); }
