header {
  background: #f3f7f9;
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 120px; }

.logo {
  width: 150px;
  margin: 0 auto 0 0; }

.nav__main {
  display: flex;
  position: relative;
  top: 0.2em; }

.link__menu-item {
  font-family: "BPG Nino Mtavruli";
  color: #686868;
  margin: 0 0.7em; }
  .link__menu-item.active {
    color: #3c8eff; }

.lang {
  font-family: "BPG Nino Mtavruli Bold";
  text-transform: uppercase;
  font-size: 0.9em; }

.profile {
  font-family: "BPG Nino Mtavruli Bold";
  font-size: 0.9em;
  padding: 0 2em; }

.profile__item {
  position: relative;
  top: 0.1em; }
