.persons_grid {
  display: flex;
  flex-wrap: wrap; }
  .persons_grid .person_block {
    width: 24%;
    border: 1px solid rgba(149, 152, 154, 0.25);
    margin-bottom: 3vh; }
    .persons_grid .person_block:not(:nth-child(4n)) {
      margin-right: calc(4% / 3); }

.person_block {
  padding: 5vh 0 2vh;
  background: #fff;
  border-radius: 6px;
  overflow: hidden; }
  .person_block.slide {
    padding: 0 0 2vh; }
  .person_block .person_block-title {
    background: #feec7f;
    color: #000000;
    font-size: 0.875rem;
    font-family: "BPG Nino Mtavruli";
    padding: 3vh 0;
    margin: 0 0 3vh; }
  .person_block .person_block-style {
    position: relative;
    width: 90%;
    max-width: 260px;
    margin: 0 auto; }
  .person_block .person_block-style:before {
    content: "";
    background: #fff;
    position: absolute;
    top: calc(50% - 7px);
    left: -2em;
    height: 12px;
    width: 12px;
    border-radius: 50%; }
  .person_block .person_block-title span {
    font-weight: bold; }
  .person_block .person_block-image {
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    font-size: 0; }
  .person_block .person_block-prof {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 6px;
    background: #3c8eff;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: "BPG Nino Mtavruli";
    padding: 0.7rem 5% 0.5rem;
    min-width: 40%;
    text-align: center;
    letter-spacing: 0.03rem; }
  .person_block .person_info {
    padding: 2vh 0 0;
    width: 90%;
    max-width: 260px;
    margin: 0 auto; }
