.sliders_wrapper {
  position: relative; }

.slider_main {
  height: calc(100vh - 120px - 100px); }
  .slider_main .slide {
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5%; }
  .slider_main .slide_info {
    color: #ffffff;
    width: 60%;
    max-width: 860px; }
  .slider_main .slide_title {
    font-size: 2.8em;
    font-family: "BPG Nino Mtavruli";
    margin: 0 0 2vh; }
  .slider_main .slide_text {
    line-height: 1.5em; }

.slider_secondary {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  width: 25%;
  max-width: 375px; }
