@import '../variables/variables';

.sliders_wrapper{
	position: relative;
}

.section-slider{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slider_main {
  height: calc(100vh - 120px - 100px);

  .slide {
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5%;
  }

  .slide_info {
    color: #ffffff;
    width: 60%;
    max-width: 860px;
    position: relative;
    z-index: 1;
  }

  .slide_title {
    font-size: 2.8em;
    font-family: "BPG Nino Mtavruli";
    margin: 0 0 2vh;
  }

  .slide_text {
    line-height: 1.5em;
  }
}

.slider_secondary {
  width: 24%;
}

.slider_dots{
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  left: 5%;
  display: flex;
  align-items: center;

  .slider_dot{
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $white;
    transform-origin: 50% 50%;
    transition: 0.2s;

    &.slider_dot-active{
      background: $basic-blue;
      transform: scale(1.5);
    }

    &:not(:last-child){
      margin-right: 12px;
    }
  }
}