@import '../variables/variables';

header{
	background: $background-basic;
	display: flex;
	align-items: center;
	padding: 0 5%;
	height: 120px;
}

.logo{
	width: 150px;
	margin: 0 auto 0 0;
}

.nav__main{
	display: flex;
	position: relative;
	top: 0.2em;
}

.link__menu-item{
	@include fontFamily('upper', normal);
	color: $font-basic;
	margin: 0 0.7em;

	&.active{
		color: $basic-blue;
	}
}

.lang{
	@include fontFamily('upper', bold);
	text-transform: uppercase;
	font-size: 0.9em;
}

.profile{
	@include fontFamily('upper', bold);
	font-size: 0.9em;
	padding: 0 2em;
}

.profile__item{
	position: relative;
	top: 0.1em;
}