@import '../variables/variables';

.persons_grid{
  display: flex;
  flex-wrap: wrap;

  .person_block{
    width: 24%;
    border: 1px solid $borderGrey;
    margin-bottom: 3vh;

    &:not(:nth-child(4n)){
      margin-right: calc(4% / 3);
    }
  }
}

.person_block {
  padding: 5vh 0 2vh;
  background: #fff;
  border-radius: $borderRadius;
  overflow: hidden;

  &.slide{
    padding: 0 0 2vh;
  }

  .person_block-title {
    background: $basic-yellow;
    color: $black;
    @include fontSize(14);
    @include fontFamily('upper', 'normal');
    padding: 3vh 0;
    margin: 0 0 3vh;
  }
  
  .person_block-style {
    position: relative;
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
  }

  .person_block-style:before {
    content: "";
    background: #fff;
    position: absolute;
    top: calc(50% - 7px);
    left: -2em;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }

  .person_block-title span {
    font-weight: bold;
  }

  .person_block-image{
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
    position: relative;
    border-radius: $borderRadius;
    overflow: hidden;
    font-size: 0;
  }

  .person_block-prof{
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: $borderRadius;
    background: $basic-blue;
    color: $white;
    @include fontSize(14);
    @include fontFamily('upper', 'normal');
    padding: 0.7rem 5% 0.5rem;
    min-width: 40%;
    text-align: center;
    letter-spacing: 0.03rem;
  }

  .person_info{
    padding: 2vh 0 0;
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
  }
  
}