@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url("../fonts/BPGNinoMtavruli.eot");
  src: url("../fonts/BPGNinoMtavruli.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNinoMtavruli.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli.woff") format("woff"), url("../fonts/BPGNinoMtavruli.ttf") format("truetype"), url("../fonts/BPGNinoMtavruli.svg#BPGNinoMtavruli") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url("../fonts/BPGNinoMtavruli-Bold.eot");
  src: url("../fonts/BPGNinoMtavruli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/BPGNinoMtavruli-Bold.ttf") format("truetype"), url("../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'BPG Arial';
  src: url("../fonts/BPGArial.eot");
  src: url("../fonts/BPGArial.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGArial.woff2") format("woff2"), url("../fonts/BPGArial.woff") format("woff"), url("../fonts/BPGArial.ttf") format("truetype"), url("../fonts/BPGArial.svg#BPGArial") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  margin: 0;
  font-family: "BPG Arial";
  font-size: 16px;
  background: #f3f7f9; }

input, textarea, button {
  font-family: "BPG Arial";
  outline: none; }

input[type=number] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.pointer {
  cursor: pointer; }

.flex {
  display: flex; }

.btns {
  display: flex; }

.btn {
  outline: none;
  cursor: pointer;
  height: 2.8rem;
  border-radius: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.5rem 0;
  font-size: 0.875rem;
  font-family: "BPG Nino Mtavruli";
  text-transform: uppercase;
  transition: 0.2s; }
  .btn.btn-form {
    border-radius: 6px;
    border: none;
    width: 100%; }
  .btn.btn-high {
    height: 3.125rem; }
  .btn.btn-transparent {
    color: #95989a;
    border: 2px solid #d6e7fa; }
    .btn.btn-transparent:hover, .btn.btn-transparent.active {
      background: #3c8eff;
      border: 2px solid #3c8eff;
      color: #ffffff; }
  .btn.btn-light {
    background: #d6e7fa;
    color: #686868; }
  .btn.btn-blue {
    background: #3c8eff;
    color: #ffffff; }
  .btn.btn-yellow {
    background: #feec7f;
    color: #000000; }
  .btn + .btn {
    margin-left: 0.7rem; }

.search-box {
  display: flex;
  height: 50px; }
  .search-box .select {
    width: 270px; }
  .search-box .mj-select {
    height: 100%; }

.label-type {
  background: #feec7f;
  color: #000000; }

.input-out + .input-out {
  margin-top: 1rem; }

.input {
  border-radius: 6px;
  border: 1px solid rgba(149, 152, 154, 0.25);
  padding: 0 1.5rem;
  font-size: 0.875rem;
  font-family: "BPG Arial";
  height: 3.125rem;
  width: 100%; }

::-webkit-input-placeholder {
  color: #95989a; }

::-moz-placeholder {
  color: #95989a; }

:-ms-input-placeholder {
  color: #95989a; }

:-moz-placeholder {
  color: #95989a; }

.modal-overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }

.modal {
  width: 50%;
  max-width: 400px;
  background: #ffffff;
  outline: none;
  padding: 5vh 4%;
  border-radius: 6px; }

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.modal-close {
  background: #3c8eff;
  cursor: pointer; }

.bg-white {
  background: #ffffff; }

.container-bg {
  background: linear-gradient(180deg, #3c8eff 60vh, transparent 60vh); }

.section {
  width: 90%;
  margin: 0 auto;
  padding: 6vh 0; }
  .section.section-md {
    width: 80%;
    padding: 0; }
  .section.section-pv {
    padding: 4vh 0; }

.section-header {
  margin: 0 0 4vh; }

.section-title {
  font-family: "BPG Nino Mtavruli Bold";
  color: #95989a; }
  .section-title.blue {
    color: #3c8eff; }

.persons_grid {
  display: flex;
  flex-wrap: wrap; }
  .persons_grid .person_block {
    width: 24%;
    border: 1px solid rgba(149, 152, 154, 0.25);
    margin-bottom: 3vh; }
    .persons_grid .person_block:not(:nth-child(4n)) {
      margin-right: calc(4% / 3); }

.person_block {
  padding: 5vh 0 2vh;
  background: #fff;
  border-radius: 6px;
  overflow: hidden; }
  .person_block.slide {
    padding: 0 0 2vh; }
  .person_block .person_block-title {
    background: #feec7f;
    color: #000000;
    font-size: 0.875rem;
    font-family: "BPG Nino Mtavruli";
    padding: 3vh 0;
    margin: 0 0 3vh; }
  .person_block .person_block-style {
    position: relative;
    width: 90%;
    max-width: 260px;
    margin: 0 auto; }
  .person_block .person_block-style:before {
    content: "";
    background: #fff;
    position: absolute;
    top: calc(50% - 7px);
    left: -2em;
    height: 12px;
    width: 12px;
    border-radius: 50%; }
  .person_block .person_block-title span {
    font-weight: bold; }
  .person_block .person_block-image {
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    font-size: 0; }
  .person_block .person_block-prof {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 6px;
    background: #3c8eff;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: "BPG Nino Mtavruli";
    padding: 0.7rem 5% 0.5rem;
    min-width: 40%;
    text-align: center;
    letter-spacing: 0.03rem; }
  .person_block .person_info {
    padding: 2vh 0 0;
    width: 90%;
    max-width: 260px;
    margin: 0 auto; }
