@import '../components/slider.scss';


.sticky {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: #fff;
}

.style_block {
  padding: 6vh 5% 15vh;
  position: relative;
}

.block_title {
  font-family: "BPG Nino Mtavruli Bold";
  margin: 0 0 5vh;
}

.vip_block_title {
  color: #3c8eff;
}

// .person_main_style {
//   border: 1px solid #e4e5e6;
//   background: #ffffff;
//   border-radius: 4px;
//   padding: 3% 0.5em;
//   height: auto;
// }

// .person_img_out {
//   height: 350px;
//   width: 260px;
//   border-radius: 8px;
//   overflow: hidden;
//   position: relative;
//   margin: 0 auto 2em;
// }

.vip_slider .person_position {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #3c8eff;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #ffffff;
  padding: 1em 0 0.7em;
  width: 60%;
  text-align: center;
  font-size: 0.9em;
  font-family: "BPG Nino Mtavruli";
}

.person_info_style {
  font-size: 0.9em;
  color: #95989a;
  margin: 0 0 1em;
}

.cat_style {
  color: #3c8eff;
  font-family: "BPG Nino Mtavruli Bold";
  position: relative;
  top: 1px;
}

.pagination_style {
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
}