@import "../variables/variables";

.search-box{
  display: flex;
  height: 50px;

  .select{
    width: 270px;
  }

  .mj-select{
    height: 100%;
  }
}

.label-type{
  background: $basic-yellow;
  color: $black;
}